ul.menu {
    text-align: center;
    list-style: none;
}

ul.menu li {
    display: inline-block;
    margin-right: 4px;
    width: 31%;
    padding: 10px;
    border: 1px solid black;
}

.main_menu {
    width: 100%;
    display: inline;
}

li ul {
    text-align: center;
    position: absolute;
    margin-top: 1em;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    width: 31%;
    padding-left: 0px;
}
li:hover ul {
    opacity: 1;
    visibility: visible;
}